<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.navigation">

    <!--允許 API 透過可用的定位服務供應商 (包括全球定位系統 (GPS)) 以及 Wi-Fi 和行動數據，盡可能精確判斷位置-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--允許 API 使用 Wi-Fi 或行動數據 (或兩者皆有) 判斷裝置的位置。API 傳回的位置準確度大約以城市街區為單位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>